.DS_Store
crazyswarm2_sim_webots/
*.pyc
*.o
*~

log*.csv
params*.csv
trajectory_summary.svg
trajectory_data*.mat
crazyflie_mpc/models/knode/online
crazyflie_examples/crazyflie_examples/data/multi_trajectory
