pyyaml
sphinx
sphinx-argparse
sphinx-rtd-theme
sphinx-tabs
sphinxcontrib-programoutput
tk
scipy
casadi
transforms3d
git+https://github.com/DLu/tf_transformations.git
torch
rowan
nicegui
cflib
setuptools==58.2.0